<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img class="card-img-top mb-5 mb-md-0" [src]="book.image" [alt]="book.name" />
      </div>
      <div class="col-md-6">
        <h1 class="display-5 fw-bolder">{{ book.name }}</h1>
        <div class="fs-5 mb-4">
          <span class="text-decoration-line-through me-2" *ngIf="book.salePrice">{{ book.price | currency }}</span>
          <span>{{ book.salePrice || book.price | currency }}</span>
        </div>
        <p class="lead">{{ book.description }}</p>
        <div class="d-flex">
          <input
            class="form-control text-center me-3"
            type="number"
            style="max-width: 4rem"
            [(ngModel)]="unit"
            min="1"
            max="99"
          />
          <button class="btn btn-outline-dark flex-shrink-0" type="button" (click)="addToCart()">
            <i class="bi-cart-fill me-1"></i>
            Thêm vào giỏ hàng
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Một số tựa sách khác</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" *ngFor="let book2 of books">
        <div class="card h-100">
          <!-- Sale badge-->
          <div
            class="badge bg-dark text-white position-absolute"
            style="top: 0.5rem; right: 0.5rem"
            *ngIf="book2.salePrice"
          >
            Sale
          </div>
          <!-- Product image-->
          <img class="card-img-top" [src]="book2.image" [alt]="book2.name" />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ book2.name }}</h5>
              <!-- Product price-->
              <span class="text-muted text-decoration-line-through" *ngIf="book2.salePrice">
                {{ book2.price | currency: 'VND' }}
              </span>
              {{ book2.salePrice || book2.price | currency: 'VND' }}
            </div>
            <a class="stretched-link" [routerLink]="['/books', book2.id]"></a>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" style="z-index: 2">
            <div class="text-center">
              <button
                class="btn btn-outline-dark mt-auto mx-1"
                title="Thêm vào giỏ hàng"
                (click)="addToCart(book2.id, 1)"
              >
                <i class="bi bi-cart-plus"></i> Đặt mua
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
